:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 5px;
}

select::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

select::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

select::-webkit-scrollbar-track {
  background-color: transparent;
}
